.fullpage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: @bg-color;
  background-image: url("img/digital.png"), url("img/bg-pattern.png");
  background-repeat: no-repeat no-repeat;
  background-size: auto, cover;
  background-position: center;
  overflow: hidden;
  min-height: 100vh;
  // min-height: 712px;
}
