.modal-form {
  margin-bottom: 15px;

  &__control {
    text-align: center;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #727272;
    border-radius: 50px;
    margin-bottom: 15px;
  }

  .btn {
    width: 100%;
  }
}
