.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;

  a {
    text-decoration: none;
    color: @white;
    transition: @transition-time;
    .font-nav();

    &:hover {
      color: @color-pp;
    }
  }
}
