.task {
  .padding-ident();
  background: url("img/bg-pattern.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  &__container {
    .container();
  }

  &__video {
    position: relative;
    margin-top: 50px;

    img {
      position: relative;
      margin: 0 auto;
      z-index: 2;
    }
  }

  &__video-play {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    width: 80%;
    height: 94%;
    max-width: 880px;
    margin: 0 auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    z-index: 0;
  }
}
