.task {
  .padding-ident();
  background: url("img/bg-pattern.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  &__container {
    .container();
  }

  &__video {
    padding-top: 50px;
  }
}
